# Forçar PHP 8.2 para esta aplicação (método 1: FastCGI)
<IfModule mod_fcgid.c>
    AddHandler fcgid-script .php
    FcgidWrapper /opt/remi/php82/root/usr/bin/php-cgi .php
</IfModule>

# Forçar PHP 8.2 para esta aplicação (método 2: CGI)
AddHandler application/x-httpd-php82 .php
Action application/x-httpd-php82 /cgi-sys/php82

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # >>> Configuração para arquivos SVG
    <FilesMatch "\.(svg|svgz)$">
        <IfModule mod_mime.c>
            AddType image/svg+xml .svg
            AddType image/svg+xml .svgz
        </IfModule>
        <IfModule mod_headers.c>
            Header set Content-Type "image/svg+xml"
        </IfModule>
    </FilesMatch>
    # <<<

    # >>> Força HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    # <<<

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
