-- Backup da tabela locais_projeto antes de sincronização com KingHost
-- Data: 2025-12-29_1239
CREATE TABLE `locais_projeto` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cdlocal` int DEFAULT NULL,
  `codigo_projeto` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `delocal` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `flativo` tinyint(1) DEFAULT NULL,
  `tabfant_id` bigint unsigned DEFAULT NULL,
  `UF` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Unidade Federativa (Estado) - vinculado ao projeto',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=38504 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
